<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendClipboardToKindle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SendClipboardToKindle.Properties.Settings>
            <setting name="sendTo" serializeAs="String">
                <value />
            </setting>
            <setting name="isDonateHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="emailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="isSsl" serializeAs="String">
                <value>False</value>
            </setting>
        </SendClipboardToKindle.Properties.Settings>
    </userSettings>
</configuration>